node_modules/
.pnpm-store/

.env
.env.local
.env.*.local

.next/
out/
dist/
coverage/

*.log
*.tsbuildinfo

.DS_Store
Thumbs.db

.vscode/settings.json
.idea/

docker-data/

playwright-report/
test-results/
.env.production
.runtime/
**/node_modules/
**/.next/
**/dist/
.env.*
!.env.example
!.env.production.example
